/runtime
/.idea
/.vscode
/vendor
*.log
.env
/tests/tmp
/tests/.phpunit.result.cache
build/
build/*
.DS_Store
dist
dist/
*.DS_Store
node_modules
.cache
cache
.temp
*.local


#py
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
bin/
pkg/

